<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home">Início</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="addProduct">Produto</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="addCoupon">Cupom</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="addCart">Carrinho</a>
        </li>
    </ul>
    <br/>
    <router-outlet></router-outlet>
</div>